# Git & VCS
.git
.gitignore
.gitattributes

# Docker config
Dockerfile
docker-compose.yml
compose.yaml
docker-compose.test.yml

# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
.venv
venv/
env/

# IDE / Editor specific
.vscode/
.idea/

# Environment files (передаются в контейнер другим способом)
.env
.env.test
.env.example

# Celery temp files
celerybeat-schedule*

# Documentation
README.md
LICENSE